<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfCpuName" value="nios2"/>
<stringAttribute key="elfFile" value="/home/gtd/workspace/qts_prj/cnn/Mobilenet_FPGA_Accelarator_nios/ip/qsys/software/mobilenet/mobilenet.elf"/>
<booleanAttribute key="elfProfilingEnabled" value="false"/>
<booleanAttribute key="elfQsysGeneratedSystem" value="true"/>
<stringAttribute key="elfQuartusProjectDir" value="/home/gtd/workspace/qts_prj/cnn/Mobilenet_FPGA_Accelarator_nios/ip/qsys/nios_qsys"/>
<booleanAttribute key="elfSimulationEnabled" value="false"/>
<stringAttribute key="elfStderrDevice" value="jtag"/>
<stringAttribute key="elfStdinDevice" value="jtag"/>
<stringAttribute key="elfStdoutDevice" value="jtag"/>
<stringAttribute key="elfSysIdBase" value="0x1090"/>
<stringAttribute key="elfSysIdHash" value="0x0"/>
<stringAttribute key="elfSysIdTimeStamp" value="0"/>
<stringAttribute key="elfSystemName" value="nios_qsys"/>
<booleanAttribute key="enableElfUserFile" value="false"/>
<booleanAttribute key="enableJdiFromElf" value="true"/>
<stringAttribute key="modelSimPath" value="/linuxaloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="mobilenet.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="mobilenet"/>
<stringAttribute key="spdPath" value="/home/gtd/workspace/qts_prj/cnn/Mobilenet_FPGA_Accelarator_nios/ip/qsys/nios_qsys/nios_qsys_tb.spd"/>
<stringAttribute key="userQpfFile" value=""/>
</launchConfiguration>
